@charset "utf-8";

body, 
main, 
div, 
span,
section, 
label,
input,
form, 
button,
ul,
h1,
h2,
h3,
p,
i{
  margin: 0;
  padding: 0;
}

label{
  background: transparent;
}

input{
  border: none;
  outline:none;
  background: transparent;
}

input[type="checkbox"]{
  cursor: pointer;
}

button{
  border: none;
  outline: none;
  text-transform: capitalize;
  background: transparent;
  cursor: pointer;
}

ul,
li{
  list-style:none;
}

h1,
h2,
h3{
font-weight: normal;
text-transform: uppercase;
}

i {
  font-style: normal;
}

body, 
input,
button, 
div,
label, 
span, 
p, 
h1, 
h2, 
h3,
ul, 
li{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
}